@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Noto+Sans+KR:wght@100..900&display=swap");
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
  background-color: #047857;
  padding: 20px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0;
  z-index: 1000;
}

.board-view-container {
  width: 900%;           /* 기존 60% → 80%로 확대 */
  max-width: 1200px;    /* 최대 너비를 1200px로 확대 */
  margin: 40px auto;    /* 중앙 정렬 유지 */
  padding: 20px 30px;   /* 패딩 증가로 내부 여백 확보 */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.board-title {
  text-align: center;
  margin: 20px 0;
}

.table.board-table {
  width: 100%;         /* board-view-container 크기만큼 확장 */
  margin: 20px auto;
  border: 1px solid #ddd;
  max-width: 100%;     /* 100%까지 확장 */
  min-width: 1000px; 
}


.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.footer {
  background-color: #047857;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  width: 100%;
  position: relative;
  margin-top: auto;
}